/* 

Colors  
#b9d7d9
#1c2130
#2b2b2b

*/



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: #fafafa;
  color: #2b2b2b;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.all-container {
  width: 95vw;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(185, 215, 217, 0.3);
  box-shadow: 0 15px 40px -12px rgba(59, 130, 246, 0.1);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#logo {
  height: 40px;
  width: 40px;
}

.thoughts-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 90vw;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.dialogue {
  position: fixed;
  /* position the element in a fixed position on the page */
  top: 50%;
  /* position the element 50% down from the top of the page */
  left: 50%;
  /* position the element 50% in from the left of the page */
  transform: translate(-50%, -50%);
  /* center the element by shifting it 50% to the left and up */
  display: none;
  /* make the element a flex container */
  flex-direction: column;
  /* arrange the elements inside the container in a column */
  align-items: center;
  /* align the elements inside the container horizontally */
  justify-content: center;
  /* align the elements inside the container vertically */
  background-color: white;
  /* give the element a white background */
  z-index: 100;
  /* set the z-index to a high value to make the element appear in front of other elements */
  display: none;
  /* initially hide the element */
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  padding: 30px 20px;
  box-shadow: 0 15px 40px -12px rgba(59, 130, 246, 0.1);
}

.close-button {
  position: absolute;
  /* position the button in an absolute position relative to the dialogue window */
  top: 10px;
  /* position the button at the top of the window */
  right: 10px;
  /* position the button at the right of the window */
 
  background-color: transparent;
  /* make the button's background transparent */
  border: none;
  /* remove the border from the button */
  color: black;
  /* set the text color to black */
  font-size: 20px;
  /* increase the font size for the "X" character */
  cursor: pointer;
  /* change the cursor to a pointer when hovering over the button */
}

.close-button svg {
  height: 24px;
  width: 24px;
}
 
.overlay {
  position: fixed;
  /* position the element in a fixed position on the page */
  top: 0;
  /* position the element at the top of the page */
  right: 0;
  /* position the element at the right of the page */
  bottom: 0;
  /* position the element at the bottom of the page */
  left: 0;
  /* position the element at the left of the page */
  background-color: rgba(0, 0, 0, 0.5);
  /* give the element a semi-transparent black background */
  z-index: 99;
  /* set the z-index to a high value to make the element appear in front of other elements */
  display: none;
  /* initially hide the element */
}

.link {
  cursor: pointer;
  /* change the cursor to a pointer when hovering over the image */
}

.header .instruction {
  display: flex;
  align-items: center;
  gap: 10px;
}

.instruction-text>a {
  text-decoration: underline;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.instruction-text>a:hover {
  color: #005bc5;
}

.top-panel {
  display: flex;
  flex-direction: row;
}

.home-icon-link {
  text-decoration: none;
  display: block;
  transition: all .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.home-icon-link svg {
  stroke: #2b2b2b;
  height: 22px;
  width: 22px;
}

.home-icon-link:hover svg {
  stroke: #005bc5;
}

.dialogue-text{
  width:100%
}
.dialogue-text .thoughts-container{
  max-width:100%;
}

.dialogue-text .thought-domain{
  margin-right: auto;
}
.dialogue-text .thought-author:focus,
.dialogue-text  .thought-text{
  outline: 1px solid #2b2b2b;
  border-radius: 5px;
}


@media(max-width:450px) {
  .header {
    padding: 20px 15px;
  }

  .header .instruction {
    font-size: 13px;
  }

  #logo {
    height: 30px;
    width: 30px;
  }

  .home-icon-link svg {
    stroke: #2b2b2b;
    height: 20px;
    width: 20px;
  }

  .thoughts-container {
    width: 100%;
  }

  .thought-author {
    font-size: 1.3em;
  }

  .thought-domain-container {
    margin-bottom: 15px;
  }

  .thought-domain {
    font-size: 12px;
  }

  .thought-hashtag {
    font-size: 12px;
  }

  .thought-text {
    width: 100%;
  }
}

@media(max-width:390px) {
  .header .instruction {
    font-size: 12px;
    gap: 5px;
  }

  .home-icon-link svg {
    height: 18px;
    width: 18px;
  }
}