.new-thought-rest-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
  padding:20px 10px;
}

.new-thought-publish-link {
  font-size: 2em;
  text-align: right;
}

.new-thought-publish svg{
  height: 24px;
  width: 24px;
  stroke: #2b2b2b;
}
.new-thought-publish:hover svg{
  stroke: #005bc5;
} 
.new-thought-counter {
  color: #dbdbdb;
  size: 0.9em;
  font-weight: 700; 
}

.new-reply-counter {
  color: #ffffff;
  size: 0.9em;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 20px;
}
