.quote-container {
  display: block;
  flex-direction: column;
  margin-left: 20px;
  font-size: 14px;  
  margin-top: 6px;
  margin-right: 1px;
  background-color: rgba(185, 215, 217, 0.4);
  padding: 20px; 
  border-radius: 10px;
}

.quote-domain-container {
  display: flex;
  flex-direction: row;
}

.quote-author {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.5em;
  text-align: left;
  padding-left: 5px; 
  color: #005bc5;
  font-weight: 600;
}

.quote-domain-container {
  display: flex;
  flex-direction: row;
}

.quote-domain {
  text-align: left;
  margin-right: 10px;
  text-align: left;
  background-color: rgba(43, 43, 43, 0.05);
  padding: 5px 10px;
  border-radius: 50px;
  margin-top: 5px;
  font-size: 14px;
}

.quote-hashtag {
  white-space: nowrap;
  min-width: 10px;
  width: 220px;
  font-size: 0.9em;
}

.quote-text-container {
  display: flex;
  flex-direction: row;
}
 
.quote-left-quote {
  padding-right: 2px;
}

.quote-right-quote {
  padding-left: 2px;
}

.quote-text {
  width: 100%; 
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-style: italic; 
  text-align: left;
  padding: 20px;
}
